name: Terraform Destroy

on:
  workflow_dispatch: # This allows you to run it manually from the UI

jobs:
  destroy:
    runs-on: ubuntu-latest
    env:
      TF_VAR_telegram_token: ${{ secrets.TELEGRAM_TOKEN }}
      TF_VAR_telegram_chat_id: ${{ secrets.TELEGRAM_CHAT_ID }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: 'us-east-1'

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Terraform Init
        run: terraform init

      - name: Terraform Destroy
        run: terraform destroy -auto-approve