name: cost-monitor-ci

on:
  push:
    branches:
      - main
  pull_request:

env:  
  AWS_REGION : "us-east-1"
  ROLE_TO_ASSUME : "arn:aws:iam::016714367715:role/GitHubAction-AssumeRoleWithAction"

permissions:
  id-token: write   # This is required for requesting the JWT
  contents: read

jobs:
  cost-monitor:
    runs-on: ubuntu-latest  
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5.1.1
        with:
          role-to-assume: ${{ env.ROLE_TO_ASSUME }}
          aws-region: ${{ env.AWS_REGION }}
          audience: sts.amazonaws.com

      - name: Verify AWS Identity
        run: aws sts get-caller-identity
        
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.14.3

      # - name: Terraform Init
      #   run: terraform init

      # - name: Terraform Validate
      #   run: terraform validate

      # - name: Terraform Plan
      #   run: terraform plan